.Contents{
  padding: 64px 26px;
  background: var(--Light-Grayish-Blue);   
}

.contents__desc{
  margin: 15px 0;
}

.contents__facilities{
  margin-top: 41px;
}

@media screen and (min-width: 1240px){
  .Contents{
    margin-top: -240px;
    padding: 64px 160px 84px 160px;
  }

  .contents__title, .contents__desc{
    text-align: left;
    max-width: 60%;
  }

  .contents__title{
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .contents__facilities{
    margin: 0 -15px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}